#canvas {
    display: none;
}

#stream {
    display: absolute;
    width: 100vw;
    height: 100vh;
}

#stream-shadow {
    display: absolute;
    width: 640px;
    height: 480px;
}

body {
    background-color: #68a2e4;
}